@font-face {
  font-family: "roboto";
  src: url("../../fonts/roboto-bold.woff2") format("woff2"),
    url("../../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../../fonts/roboto-light.woff2") format("woff2"),
    url("../../fonts/roboto-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../../fonts/roboto-light-italic.woff2") format("woff2"),
    url("../../fonts/roboto-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
