.add-info {
  margin-top: 6px;
  padding: 22px 6px;
  background-color: #4b73b5;
  background-image: url("../../images/signs.png");
}

.add-info__content {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.add-info__content p {
  text-align: center;
}

.add-info__content a {
  font-weight: bold;
  transition: 0.3s;
}

.add-info__content a:hover {
  text-decoration: none;
  opacity: 0.7;
}
