.last-news {
  padding-right: 24px;
}

.last-news__articles {
  margin-top: 37px;
  margin-bottom: 34px;
}

.last-news__articles .article__description {
  padding: 0 18px;
}

.last-news__article:last-child {
  margin-bottom: 0;
  border: none;
}

.last-news__pagination {
  text-align: center;
}
