.last-news {
  padding-right: 24px;
}

.last-news__articles {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 27px;
}

.last-news__article:last-child {
  margin-bottom: 0;
  border: none;
}

.last-news__pagination {
  margin-left: 23%;
}
