.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e9ed;
  padding-top: 26px;
}

.partners__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.partners__list {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17.3% 0;
}

.partners__link {
  text-align: center;
  filter: grayscale(100%);
  transition: 0.3s;
}

.partners__img {
  width: 78%;
}

.partners__link:hover {
  filter: grayscale(0);
}
