.reviews {
  margin-top: 8px;
  margin-bottom: 4px;
  padding-right: 20px;
}

.reviews__articles {
  margin-bottom: 20px;
  margin-top: 7px;
}

.reviews__articles .article__description {
  padding-left: 21px;
}

.reviews__pagination {
  margin-left: 220px;
}
