.team {
  margin: 8px 0;
  padding-right: 20px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.team__item {
  position: relative;
  width: 32%;
  text-align: center;
  padding: 22px 0;
}

.team__avatar {
  width: 160px;
  height: 160px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 13px;
}

.team__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__avatar::before {
  cursor: pointer;
  content: "";
  position: absolute;
  background-color: rgba(75, 115, 181, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.team__avatar:hover::before {
  background-color: transparent;
}

.team__avatar:hover .team__avatar-title {
  opacity: 0;
}

.team__avatar-title {
  cursor: pointer;
  color: #fff;
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
}

.team__content {
  text-align: center;
  padding: 0 12px;
}

.team__content-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21.5px;
  margin-bottom: 2px;
}

.team__content-subtitle {
  margin-bottom: 6px;
  color: #4b73b5;
  font-size: 14px;
  font-weight: bold;
}

.team__content-text {
  line-height: 21px;
  font-size: 14px;
  font-weight: 300;
}
