.article {
  display: flex;
  border-bottom: 2px solid #f5f5f5;
  padding-top: 20px;
  padding-bottom: 13px;
  margin-bottom: 4px;
}

.article:last-child {
  border: none;
}

.article__left {
  width: 19%;
  margin-top: 8px;
  margin-bottom: 15px;
}

.article__avatar {
  max-width: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.article__avatar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 115, 181, 0.3);
  transition: opacity 1s;
}

.article__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article__avatar:hover::before {
  opacity: 0;
}

.article__description {
  width: 81%;
}

.article__date {
  font-size: 14px;
  font-weight: 300;
  color: #656464;
}

.article__title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 7px;
}

.article__text {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}
