.main-nav__link {
  color: #4b73b5;
  padding-left: 36px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  transition: .3s;
}

.main-nav__link:hover.main-nav__icon--main::before {
  background-position: -17px 0;
}

.main-nav__link:hover.main-nav__icon--feed::before {
  background-position: -54px 0;
}

.main-nav__link:hover.main-nav__icon--team::before {
  background-position: -97px 0;
}

.main-nav__link:hover  {
  color: #221f1f;
}

.main-nav__item {
  margin-bottom: 26px;
}

.main-nav__item.active .main-nav__link {
  color: #221f1f;
}

.main-nav__item:last-child {
  margin-bottom: 0;
}

.main-nav__icon {
  position: relative;
}

.main-nav__icon::before {
  left: 0;
  top: -2px;
  content: "";
  position: absolute;
  background: url("../../images/icons/main-nav/sprites.png") no-repeat;
}

.main-nav__icon--main::before {
  background-position: 0 0;
  width: 17px;
  height: 18px;
}

.main-nav__item.active .main-nav__icon--main::before {
  background-position: -17px 0;
  width: 17px;
  height: 18px;
}

.main-nav__icon--feed::before {
  background-position: -34px 0;
  width: 20px;
  height: 18px;
}

.main-nav__item.active .main-nav__icon--feed::before {
  background-position: -54px 0;
  width: 20px;
  height: 18px;
}

.main-nav__icon--team::before {
  background-position: -74px 0;
  width: 23px;
  height: 18px;
}

.main-nav__item.active .main-nav__icon--team::before {
  background-position: -97px 0;
  width: 23px;
  height: 18px;
}
