.socials {
  text-align: center;
  margin-top: 27px;
}

.socials__title {
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 14px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  border-radius: 50%;
  display: block;
  background-color: #ffffff;
  background: url("../../images/icons/socials/socials-sprites.png") no-repeat;
  background-repeat: no-repeat;
  transition: 0.3s;
  width: 20px;
  height: 20px;
}

.socials__link:hover {
  background-color: #d2def3;
}

.socials__link--vk {
  background-position: 4px 4px;
}

.socials__link--fb {
  background-position: -92px 4px;
}

.socials__link--google {
  background-position: -72px 4px;
}

.socials__link--tw {
  background-position: -20px 4px;
}

.socials__link--mail {
  background-position: -46px 4px;
}
