.socials {
  display: inline-block;
  text-align: left;
}

.socials__title {
  margin-bottom: 8px;
  font-weight: bold;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  border-radius: 50%;
  display: block;
  background: url("../../images/icons/socials/socials-sprites.png") no-repeat;
  background-color: #d2def3;
  background-repeat: no-repeat;
  transition: background-color 0.3s;
  width: 20px;
  height: 20px;
}

.socials__link:hover {
  background-color: #ffffff;
}

.socials__link--vk {
  background-position: 4px 4px;
}

.socials__link--fb {
  background-position: -92px 3px;
}

.socials__link--google {
  background-position: -72px 3px;
}

.socials__link--tw {
  background-position: -20px 3px;
}

.socials__link--mail {
  background-position: -46px 3px;
}
